.album-title {
  font-size: 14px;
  color: white;
}

.artist-title {
  font-size: 14px;
  color: #a0a0a0;
}

a {
  text-decoration: none;
  color: #a0a0a0;
}

.album-title:hover, .artist-title:hover {
  text-decoration: underline;
}

